.spin-button {
  background-color: #f14668;
  color: #fff;
  font-weight: bold;
  padding: 0 4px;
  border-bottom: 1px solid hsla(10, 10%, 50%, 0.4);
  border-radius: 0 3px 0 0;
  height: 20px;
}

.spin-button:last-child {
  border-top: 1px solid hsla(10, 10%, 50%, 0.4);
  border-bottom: 0;
  border-radius: 0 0 3px;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  min-height: 10vh;
  min-width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  transition: bottom 200ms ease-in;
  border: 1px solid hsl(348, 86%, 43%);
  box-shadow: 0 0 .5rem hsl(348, 86%, 43%);
  animation: slide-in 350ms ease-out;
}

.slide-out {
  bottom: -10vh;
}

@keyframes slide-in {
  from {
    bottom: -10vh;
  }
  to {
    bottom: 0;
  }
}

/* remove arrows from number input in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove arrows from number input in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}