/*  sets sidebar to overlay page main content,
    requires <main> or parent position: relative (!== static) */
.nav-menu {
  position: absolute;
  /* position: fixed; */
  background-color: #ab1236;
  z-index: 1;
  transition: left 250ms ease-in;
  padding: 0px .5rem;
  /* top: +24px; */ /* burger icon height */
  top: calc(48px + 30px); /* parent padding + burger icon height */
  /* bottom: 0; */ /* -height of footer to reach bottom of document */
  bottom: -68px; /* -height of footer to reach bottom of document */
  /* left: calc(-130px + -24px); */ /* offset main element padding + menu width */
  left: -132px; /* width of nav-meny */
  border-radius: 0px 4px 4px 0px;
  border-color: gold;
  box-shadow: 0 0 .4rem gold;
}

/* slides sidebar to view when active */
.nav-menu.is-active {
  /* left: -24px; */ /* offset main element padding */
  left: 0;
  transition: left 450ms ease-out;
}

/* highlights active nav item */
li.is-active {
  background-color: #ffffff;
  border-radius: 5px;
}

/* add gap between nav links in sidebar and icreases size of container */
.sidebar-links li {
  margin-top: .5rem;
  padding: .5rem 1rem;
}

/* set nav links font color except for link */
.sidebar-links li a:not(.active-font) {
  color: #ffe08a!important;
}

button {
  background-color: transparent;
  border: none;
}