* {
  box-sizing: border-box;
}

/* prevents embedded map from overflowing container */
iframe {
  width: calc(100%);
}

/* hover effect for menu items */
div.card:hover,
.hovered {
  transform: scale(1.05);
  border-color: gold;
  box-shadow: 0 0 .5rem gold;
}

div.card.no-scale:hover {
  transform: none;
}

div.card.no-scale {
  border-color: gold;
  box-shadow: 0 0 .5rem gold;
}

div.message-body {
  border-width: 3px!important;
}

/* for Link components */
.active-font {
  color: #C79200!important;
}

.is-transparent {
  background-color: transparent!important;
  box-shadow: none!important;
}

.is-justify-right-desktop {
  justify-content: space-between;
}

.has-text-bgc {
  color: hsl(348, 86%, 43%);
}

/* cart content count badge for <i> element of cart button*/
.badge:after {
  content: attr(value);
  font-family: 'Kanit', sans-serif!important;
  color: hsl(348, 86%, 43%);
  min-width: 19px;
  font-size: .8rem;
  background: #ffe08a;
  border-radius: 50%;
  padding: 0 5px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.9;
}

.donate-container {
  gap: .5rem;
}

.modal-background {
  background-color: rgba(10,10,10,.70)!important;
}

/* if display is less than or equal to 1023px (less than desktop) */
@media (max-width: 1023px) {
  /* for sidebar position: absolute to achieve height: 100% */
  main {
    position: relative;
    height: 100%;
    /* fills remaining height of parent; requires parent display: flex */
    flex: 1;
  }

  article {
    width: 100%;
    max-width: 512px;
  }

  /* allows <main> to fill remaining space of its parent container */
  div#root {
    display: flex;
    flex-direction: column;
  }

  /* allows contact details and map to wrap on touch devices */
  div.message-body.is-flex {
    flex-wrap: wrap;
  }
  
  .img-container {
    width: 100%;
    height: 100%;
  }
}

/* display is greater than or equal to 1024px (desktop or greater only) */
@media (min-width: 1024px) {
    article {
      /* width: 50%; */
      width: 100%;
  }
  
  .img-container {
    width: 66%;
    height: 66%;
  }

  .is-justify-right-desktop {
    justify-content: flex-end;
  }
}

@media (max-width: 399px) {
  .hero-body {
    padding: 1rem 0 0!important;
  }
}

/*
  keeps footer at the bottom of page
  requires div#root min-height 100vh
*/
#root > footer {
  position: sticky;
  top: 100vh;
  background-color: transparent;
  z-index: 2;
}
