* {
  box-sizing: border-box;
}

/* prevents embedded map from overflowing container */
iframe {
  width: calc(100%);
}

div.card:hover {
  transform: scale(1.05);
  border-color: gold;
  box-shadow: 0 0 .5rem gold;
}

/* for Link components */
.active-font {
  color: #C79200!important;
}

/* if display is less than or equal to 1023px (less than desktop) */
@media (max-width: 1023px) {
  /* for sidebar position: absolute to achieve height: 100% */
  main {
    position: relative;
    height: 100%;
  }

  article {
    width: 100%;
    max-width: 512px;
  }

  div.message-body.is-flex {
    flex-wrap: wrap;
  }
  
  .img-container {
    width: 100%;
    height: 100%;
  }
}

/* display is greater than or equal to 1024px (desktop only) */
@media (min-width: 1024px) {
    article {
      width: 50%;
  }
  
  .img-container {
    width: 66%;
    height: 66%;
  }  
}

/* keeps footer at the bottom of page
requires html, body, div#root min-height 100vh */
div#root > footer {
  position: sticky;
  top: 100vh;
  background-color: #cc0f35;
}
