/* import google font "Kanit" */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,600;1,300&display=swap');


/* CSS reset */
* {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  background-color: #CC0F35!important;
}

/*
  if height value is not set on html and body,
  it will assume the same value given to children
  that is explicitly assigned a value (i.e. div#root)
*/
div#root {
  min-height: 100vh;
  /* min-height: -webkit-fill-available; */
  background-color: #CC0F35;
}
